.layout {
  background-image: url('../../../public/images/pngtree-painted-christmas-theme-background.jpg');
  background-size: cover;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  min-height: 100vh;
}

.main {
  padding: 0 0 3em;
}
